.env
*/static/*
*.sqlite3
postgres_data
__pycache__
*.pyc
.idea
.idea/*
venv/*
.coverage
.pytest_cache
htmlcov
*.pem

# celery-beat
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.db

# certs
localhost.crt
localhost.key
